html, body {
    width: 100%;
    height: 100%;

    overflow: hidden;
}

#front {
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

#back {
    position: absolute;
    z-index: 2;
    overflow: hidden;
    /*background: green;*/
}
